Django==1.6.1
Unipath==1.0
dj-database-url==0.2.2
dj-static==0.0.5
gunicorn==18.0
psycopg2==2.5.1
django-decouple==2.1
django-suit==0.2.5
django-model-utils==1.5.0
django-extensions==1.2.5
django-floppyforms==1.1
django-floppymodelforms==0.1.0
