@import "partials/base";
@import "partials/header";

.row, .col {
  overflow: hidden;
}

$footer-frame-bg-color: #393738;

$text-color: #5d5d5d;
$text-color-light: #fff;

body {
  color: $text-color;
}

#container, footer {
  @include container;
}
#container, header, footer {
  @include susy-grid-background;
}


#featured {
  width: 100%;
  min-height: rhythm(18);
}

#content {
  background-color: #F9F9F9;

  $content-columns: 16;
  $remain-columns: 8;

  @include span-columns(16);
  @include push(8);
  @include leader(-5);

  h1, h2, h3, p, .social, .comments {
    @include pad(1, 1, 16);
  }

  h1 {
    color: $text-color;
    font-family: "Dosis-Regular";
    @include adjust-font-size-to(42px, 2);
    @include leader(2, 42px);
    @include trailer(1, 42px);
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
  }

  .date-place {
    color: $text-color-light;
    background: image-url('meeting-detail-bg-dashed.gif') repeat-x left center;
    font-family: "Dosis-Regular";
    @include adjust-font-size-to(16px);
    @include trailer(1, 16px);

    li {
      width: columns(3, $content-columns);
      float: left;
      text-align: center;

      &:first-child {
        margin-left: space(10,$content-columns) + gutter($content-columns);
        background-color: #434242;
      }
      &:last-child {
        @include omega;
        background-color: #83B1DF;
      }
    }
  }

  h2 {
    font-family: "Dosis-Light";
    @include adjust-font-size-to(24px, 1.5);
    @include leader(1, 24px);
    @include trailer(1.5, 24px);
    text-align: center;
  }

  .video {
    width: 100%;
    height: rhythm(20);
    @include trailer(1);

    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  .social {
    height: rhythm(1);
    @include trailer(1);
  }

  h3 {
    color: #83b1df;
    font-family: "Dosis-Regular";
    @include adjust-font-size-to(24px, 1);
    @include leader(1, 24px);
    @include trailer(1, 24px);
  }

  p {
    @include leader(1);
    @include trailer(1);
  }

  .profile {
    @include span-columns(6 omega, $content-columns);
    text-align: center;

    .photo {
      height: rhythm(9);
      img {
        @include border-radius(50%);
      }
    }
    .name a {
      color: #3772ae;
      @include adjust-font-size-to(18px, 1);
      font-family: "Dosis-Medium";
      text-shadow: #fff 1px 1px 0px;
      text-decoration: none;
    }
    li {
      margin-right: gutter($content-columns);
      display: inline-block;
      a {
        display: block;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #3772ae;
        &:hover {
          background-color: lighten(#3772ae, 10%);
        }
      }
    }
    &+p:first-of-type {
      margin-top: 0;
    }
  }

  .notices {
    h2 {
      color: #83b1df;
      font-family: "Dosis-Regular";
      @include adjust-font-size-to(24px, 1);
      @include leader(2, 24px);
      @include trailer(1, 24px);
      text-transform: uppercase;
    }
    .datetime {
      color: #999;
      @include adjust-font-size-to(12px, 1);
      border-bottom: 1px dashed #D8D3D3;
      padding: 0 0 0 0;
      margin: 0 40px;
    }
  }
}
/*
#sidebar {
  // One third of the grid columns, rounding down. With 24 cols, this is 8.
  $sidebar-columns: floor($blueprint-grid-columns / 3);
  $remain-columns: $blueprint-grid-columns - $sidebar-columns;
  @include column($sidebar-columns);
  @include pull($remain-columns, true);
  @include prepend-top();
}
*/


/*

#attendees {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;

  li {
    @include float-left;
    width: span(2.5);
    height: rhythm(5);

    img {
      @include border-radius(50%);
    }
  }
}

body.detail {
  #container, footer {
    @include showgrid;
  }
  #container {
    @include container;
  }


  #footer-frame {
    //background-color: $footer-frame-bg-color;
  }
  footer {
    @include container;

    $logo-columns: floor($blueprint-grid-columns / 8);
    $remain-columns: $blueprint-grid-columns - $logo-columns;

    .logo {
      @include column($logo-columns);
      a {
        @include replace-text-with-dimensions('footer-logo.jpg');
        display: block;
      }
    }
    .actions {
      @include column($remain-columns / 3);
    }
    .opendata {
      @include column($remain-columns / 3);
    }
    .social {
      @include column($remain-columns / 3, true);
    }
    .links {
      @include column($blueprint-grid-columns);
    }
  }
}
*/
