@import "partials/base";
@import "partials/header";

$footer-frame-bg-color: #393738;

$text-color: #5d5d5d;
$text-color-light: #fff;

body {
  color: $text-color;
}

#container, footer {
  @include container;
}
#container, header, footer {
  @include susy-grid-background;
}


#featured {
  width: 100%;
  //height: 432px;
  height: rhythm(18);
}

#content {
  // Two thirds of the grid columns, rounding up.
  // With 24 cols, this is 16.
  $content-columns: ceil(2 * $total-columns / 3);
  $remain-columns: $total-columns - $content-columns;

  @include span-columns($content-columns);
  @include push($remain-columns);
  @include leader(-5);

  background-color: rgba(255, 255, 255, 0.5);
  h1 {
    color: $text-color;
    font-family: "Dosis-Regular";
    @include adjust-font-size-to(41px, 3);
    @include leader(2, 41px);
    @include trailer(1, 41px);
    @include pad(1,1);
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    background: image-url('meeting-detail-bg-dashed.gif') repeat-x left center;
    display: inline-block;
    width: 100%;

    color: $text-color-light;
    font-family: "Dosis-Regular";
    @include adjust-font-size-to(16px);
    @include trailer(0.65, 16px);

    li {
      width: columns(3, $content-columns);
      float: left;
      text-align: center;

      &:first-child {
        margin-left: space(10,$content-columns) + gutter($content-columns);
        background-color: #434242;
      }
      &:last-child {
        @include omega;
        background-color: #83B1DF;
      }
    }
  }

  h2 {
    font-family: "Dosis-Light";
    @include adjust-font-size-to(24px, 1.5);
    @include leader(1, 24px);
    @include trailer(1.5, 24px);
    @include pad(1, 1);
    text-align: center;
  }

  .host {
    @include clearfix;

    .host-contact {
      @include span-columns(6);
      @include push(10);
    }
    .host-about {
      @include span-columns(10);
      @include pull(6);
    }
  }
}
/*
#sidebar {
  // One third of the grid columns, rounding down. With 24 cols, this is 8.
  $sidebar-columns: floor($blueprint-grid-columns / 3);
  $remain-columns: $blueprint-grid-columns - $sidebar-columns;
  @include column($sidebar-columns);
  @include pull($remain-columns, true);
  @include prepend-top();
}
*/
.video {
  width: 100%;
  height: rhythm(20);

  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.avatar {
  height: rhythm(13);

  img {
    @include border-radius(50%);
  }
}


/*

#attendees {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;

  li {
    @include float-left;
    width: span(2.5);
    height: rhythm(5);

    img {
      @include border-radius(50%);
    }
  }
}

body.detail {
  #container, footer {
    @include showgrid;
  }
  #container {
    @include container;
  }


  #footer-frame {
    //background-color: $footer-frame-bg-color;
  }
  footer {
    @include container;

    $logo-columns: floor($blueprint-grid-columns / 8);
    $remain-columns: $blueprint-grid-columns - $logo-columns;

    .logo {
      @include column($logo-columns);
      a {
        @include replace-text-with-dimensions('footer-logo.jpg');
        display: block;
      }
    }
    .actions {
      @include column($remain-columns / 3);
    }
    .opendata {
      @include column($remain-columns / 3);
    }
    .social {
      @include column($remain-columns / 3, true);
    }
    .links {
      @include column($blueprint-grid-columns);
    }
  }
}
*/
