@import "partials/base";
@import "partials/header";


// DEBUG
.container, header, footer {
  @include susy-grid-background;
}
.featured, .detail, .notices, .comments, .status {
  opacity: 0.5;
}


// Layout
@include at-breakpoint(769px $total-columns) {
  .container, header, footer {
    @include container;
    @include set-container-width($total-columns, magic);
  }
  .detail, .notices, .comments {
    @include span-columns(16 omega);
    h1, h2, h3, p, .social, .fb-comments {
     @include pad(1, 1, 16);
    }
    .profile {
      @include span-columns(6 omega, 16);
    }
  }
  .status, .info {
    padding-right: gutter() * 2;
    width: columns(8) + gutter();
    float: left;
  }
}


// Text
h1 {
  font-family: "Dosis-Regular";
  @include set-font(42px, 2, 2, 1);
  letter-spacing: -1px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-family: "Dosis-Light";
  @include set-font(24px, 1.5, 1, 1.5);
  text-align: center;
}
h3 {
  color: #83b1df;
  font-family: "Dosis-Regular";
  @include set-font(24px, 1, 1, 1);
}
p {
  @include leader(1);
  @include trailer(1);
}


body {
  color: #5d5d5d;
  background-color: #F6F3EC;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.headerFrame, .footerFrame {
  @include pie-clearfix;
}

.featured {
  min-height: rhythm(18);
}

.profile {
  @include trailer(1);
  text-align: center;

  .photo {
    height: rhythm(9);
    img {
      @include border-radius(50%);
    }
  }
  .name a {
    color: #3772ae;
    @include adjust-font-size-to(18px, 1);
    font-family: "Dosis-Medium";
    text-shadow: #fff 1px 1px 0px;
    text-decoration: none;
  }
  li {
    margin-right: 10px;
    display: inline-block;
    a {
      display: block;
      color: white;
      background-color: #3772ae;

      @include rounded(1.5em);

      &:hover {
        background-color: lighten(#3772ae, 10%);
      }
    }
  }
}

.detail {
  background-color: #F9F9F9;
  @include leader(-5);

  .date-place {
    color: #fff;
    background: image-url('meeting-detail-bg-dashed.gif') repeat-x left center;
    font-family: "Dosis-Regular";
    @include set-font(16px, 1, 0, 1);
    @include pie-clearfix;
    text-align: right;

    li {
      padding: 0 1em;
      text-align: center;
      display: inline-block;

      &:first-child {
        background-color: #434242;
      }
      &:last-child {
        float: right;
        background-color: #83B1DF;
      }
    }
  }

  .video {
    width: 100%;
    height: rhythm(15);
    @include trailer(1);

    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  .social {
    height: rhythm(1);
    @include trailer(1);
  }

  .profile+p:first-of-type {
    margin-top: 0;
  }
}

.notices {
  background-color: #F9F9F9;
  h2 {
    color: #83b1df;
    font-family: "Dosis-Regular";
    @include set-font(24px, 1, 2, 1);
    text-transform: uppercase;
  }
  .datetime {
    color: #999;
    @include set-font(12px, 1);
    border-bottom: 1px dashed #D8D3D3;
    padding: 0 0 0 0;
    margin: 0 40px;
  }
}

.comments {
  background-color: #F9F9F9;
  div {

  }
}

.info {
  h3 {
    font-family: "Dosis-Medium";
    @include adjust-font-size-to(24px, 2);
    padding-left: 10px;

    i {
      color: #fff;
      background-color: #83B1DF;
      left: -10px;
      font-size: 0.625em;
      text-shadow: darken(#83B1DF, 30%) 1px 1px 1px;

      @include rounded(2em, true);
    }
  }
  p, ul {
    padding-left: columns(1, 8) + gutter(8);
  }
}

.status {
  color: white;
  background-color: #323334;
  height: rhythm(10);
  padding-top: 1em;

  h3 {
    @include set-font(14px, 1.5, 0.5, 0);
    font-family: "Dosis-Medium";
    text-align: left;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.5);

    width: 13em;
  }
}

/*

#attendees {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;

  li {
    @include float-left;
    width: span(2.5);
    height: rhythm(5);

    img {
      @include border-radius(50%);
    }
  }
}

body.detail {
  #container, footer {
    @include showgrid;
  }
  #container {
    @include container;
  }


  #footer-frame {
    //background-color: #393738;
  }
  footer {
    @include container;

    $logo-columns: floor($blueprint-grid-columns / 8);
    $remain-columns: $blueprint-grid-columns - $logo-columns;

    .logo {
      @include column($logo-columns);
      a {
        @include replace-text-with-dimensions('footer-logo.jpg');
        display: block;
      }
    }
    .actions {
      @include column($remain-columns / 3);
    }
    .opendata {
      @include column($remain-columns / 3);
    }
    .social {
      @include column($remain-columns / 3, true);
    }
    .links {
      @include column($blueprint-grid-columns);
    }
  }
}
*/
