/*
html {
  font-size: 62.5%;
}
*/

body {
  background-color: $salmon;
  color: $black-light;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  @include rem(font-size, 41px);
  @include rem(line-height, 46px);
  font-family: "Dosis-Light";
  font-weight: normal;
  text-align: center;
  span {
    color: $pink;
  }
}

h2 {
  color: $blue-light;
  @include rem(font-size, 24px);
  @include rem(line-height, 20px);
  font-family: "Dosis-Regular";
  @include rem(padding-bottom, 20px);
}

h3 {
  color: $blue-light;
  @include rem(font-size, 21px);
  @include rem(line-height, 42px);
  font-family: "Dosis-Medium";
  text-transform: uppercase;
  text-shadow: $white 1px 1px 0;
}

h4 {
  color: $blue-light;
  @include rem(font-size, 16px);
  @include rem(line-height, 38px);
  font-family: "Dosis-SemiBold";
  text-transform: uppercase;
  text-shadow: black 1px 1px 0;
}

/*
h5 { font-size: 1.4em; line-height: 1.571em; margin: 0 0; padding: 0.500em 1.285em 1.071em; }
h6 { font-size: 1.2em; line-height: 1.833em; margin: 0 0; padding: 0.583em 1.500em 1.250em; }
*/

/* Default HTML Tags */

p, li, dt, dd, th, td, caption {
  @include rem(font-size, 14px);
  @include rem(line-height, 28px);
}
/*
li li, li p, li h1, li h2, li h3, li h4 { font-size: 1em; }

ul { margin: 0 0; padding: 0.6em 0 1.6em 5.4em; }
ol { margin: 0 0; padding: 0.6em 0 1.6em 5.4em; }

dl { margin: 0 0 0 0; padding: 0.6em 0 1.6em 1.8em; }
dt { margin: 0 0 0 0; padding: 0 0 0 0; font-weight: 700; }
dd { margin: 0 0 0 0; padding: 0 0 0 0; }

table { border-collapse: collapse; width: 100%; margin: 0 0 0 1em; }
th, caption { text-align: left; font-weight: 700; }

blockquote { margin: 0 0; padding: 2.4em 4.8em; }

em { font-style: italic; }
small { font-size: 0.75em; }
strong, b { font-weight: 700; }

code { color:#C06;font-size:1.2em; }

img { vertical-align:middle;border-width:0;}
*/

input, button, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
a         { color: #0066cc; }
a:visited { color: #0066cc; }
a:hover   { color: #E14B00; }
a:active  { color: #0066cc; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
*/

/* apply a natural box layout model to all elements. Look, IE was right, huh? */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* Columns Rulers, tricks and treats ;D */
.rulerLeft { border-left: 1px solid #E6E6E6;}
.rulerTop { border-top: 1px solid #E6E6E6;}
.rulerRight { border-right: 1px solid #E6E6E6;}
.rulerBottom { border-bottom: 1px solid #E6E6E6;}

.floatLeft { float: left;}
.floatRight { float: right;}

.textAlignLeft { text-align: left;}
.textAlignRight { text-align: right;}
.textAlignCenter { text-align: center;}

.layout {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

.sidebar {
  padding: 0 2em;
}

.sidebar li {
  font-size: 14px;
  margin: 1em 0;
}

.content {
  background: $white-almost;
  padding: 0 2em;
}
