/* MIV */
/* background colors */
$white: #FFFFFF;
$white-almost: #F9F9F9;
$salmon: #F7F4ED;
$salmon-smoked: #D8D3D3;

$black-light: #5D5D5D;
$blue-light: #83B1DF;
$pink: #B178AD;

@import 'rem';
@import 'fonts';
@import 'base';
@import 'forms';
