//  --------------------------------------------------------------
//  Blueprint grid bounded to Compass
//  --------------------------------------------------------------

@import "compass/typography/vertical_rhythm";
@import "blueprint/grid";

// Line height used by the grid system.
$blueprint-grid-line-height: $base-line-height / $base-font-size * 1em;

// *****************************************************
// Override functions to have parameterized line height.
// *****************************************************

// Adds trailing margin.
@mixin append-bottom($amount: $blueprint-grid-line-height) {
  margin-bottom: $amount; }

// Adds leading margin.
@mixin prepend-top($amount: $blueprint-grid-line-height) {
  margin-top: $amount; }


@mixin push-margins($n) {
  margin: 0 (-$blueprint-grid-outer-width * $n) $blueprint-grid-line-height $blueprint-grid-outer-width * $n; }


// FIXME: Use $blueprint-grid-line-height or vertical rhythm.
// Mixin this to an hr to make a horizontal ruler across a column.
@mixin colruler($border-color: #dddddd) {
  background: $border-color;
  color: $border-color;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none; }
