{% load staticfiles compress %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  {% compress css %}
    <link href="{% static 'stylesheets/screen.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
    <link href="{% static 'stylesheets/print.scss' %}" media="print" rel="stylesheet" type="text/x-scss" />
    <!--[if lt IE 8]>
      <link href="{% static 'stylesheets/ie.scss' %}" media="screen, projection" rel="stylesheet" type="text/x-scss" />
    <![endif]-->
  {% endcompress %}
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  {% block css %}
  {% endblock css %}
</head>
<body class="detail bp showgrid">
<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div id="header-frame">
    <header>
      <nav>
        <ul>
          <li class="list"><a href="#"><img src="{% static 'images/header-icon-list.png' %}"> Explorar encontros</a></li>
          <li class="new"><a href="#"><img src="{% static 'images/header-icon-new.png' %}"> Criar um encontro</a></li>
          <li class="help"><a href="#"><img src="{% static 'images/header-icon-help.png' %}"> Como funciona</a></li>
          <li class="search">
            <form>
              <input type="search" name="q" alt="Buscar" placeholder="Buscar">
            </form>
          </li>
          <li class="account"><a href="#">Olá, Henrique</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div id="container">
    <section id="featured">
      {% block featured %}
      {% endblock featured %}
    </section>
    <section id="content">
      {% block content %}
      {% endblock content %}
    </section>
    <section id="sidebar">
      {% block sidebar %}
      {% endblock sidebar %}
    </section>
  </div>
  <div id="footer-frame">
    <footer>
      <div class="logo">
        <a href="/">Nós.vc</a>
      </div>
      <div class="actions">
      <h3>Menu</h3>
        <ul>
          <li class="explore">
            <a href="/pt/explore">Explorar encontros</a>
          </li>
          <li class="submit_project">
            <a href="/pt/projects/new">Criar um encontro</a>
          </li>
          <li class="how_works">
            <a href="/pt/guidelines">Como funciona</a>
          </li>
        </ul>
      </div>
      <div class="opendata">
        <h3>Números mágicos</h3>
        <ul>
          <li>
            <span>10162</span> Pessoas fazem parte do Nós.vc
          </li>
          <li>
            <span>6740</span> Inscrições já foram feitas
          </li>
          <li>
            <span>4812</span> Pessoas se inscreveram em encontros
          </li>
          <li>
            <span>328</span> Encontros já foram realizados
          </li>
          <li>
            <span>4</span> Encontros estão com inscrições abertas</p>
          </li>
        </ul>
      </div>
      <div class="social">
        <h3>Junte-se a nós</h3>
        <div class="facebook">
          <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-colorscheme="dark" data-href="https://www.facebook.com/nos.vc" data-send="false" data-show-faces="true" data-width="210" fb-xfbml-state="rendered">
            <span style="height: 65px; width: 225px;">
              <iframe id="f2a7714bb4" name="f272b32d6" scrolling="no" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=249743598463142&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D28%23cb%3Df35e565d6c%26domain%3Dnos.vc%26origin%3Dhttp%253A%252F%252Fnos.vc%252Ff362484f44%26relation%3Dparent.parent&amp;colorscheme=dark&amp;extended_social_context=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fnos.vc&amp;layout=standard&amp;locale=pt_BR&amp;node_type=link&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=225" style="border: none; overflow: hidden; height: 65px; width: 225px;"></iframe>
            </span>
          </div>
        </div>

        <div class="twitter">
          <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1387492107.html#_=1388200896301&amp;id=twitter-widget-1&amp;lang=pt&amp;screen_name=Nos_vc&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 224px; height: 20px;"></iframe>
        </div>
      </div>
      <div class="links">
        <p>
          <a href="http://help.nos.vc/">Help!</a>|<a href="/pt/about_us">Sobre</a>|<a href="/pt/contact">Contato</a>|<a href="http://blog.nos.vc/">Blog</a>|<a href="/pt/terms">Termos de Uso</a>|<a href="/pt/privacy">Política de Privacidade</a>
        </p>
      </div>
    </footer>
  </div>
</body>
</html>
